li {
    list-style-type: none;
}

p {
    margin: 20px 0;
}
legend {
    margin-left: 10px;
    font-weight: bold;
}

fieldset {
    margin-top: 20px;
    padding: 15px;
}

ul.zzz li {
    margin: 20px 0;
}

.wrapper {
    width: 900px;
    padding: 40px;
    margin: 10px auto;
    box-shadow: 1px 1px 20px ;
}

span.xxx {
    font-style: italic;
}

